{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-typescript",
    "babel-preset-typescript-vue"
  ],
  "plugins": [
    "@babel/plugin-transform-runtime",
    "@babel/plugin-transform-typescript",
    [
      "module-resolver",
      {
        "alias": {
          "@": "./src/cockpit"
        }
      }
    ]
  ],
  "env": {
    "test": {
      "plugins": ["istanbul"]
    }
  }
}
