@import "./lib";
@font-face {
  font-family: SourceSansPro;
  src: url("../assets/SourceSansPro/SourceSansPro-Regular.ttf");
}

div,
h3 {
  margin: 0;
}

.title {
  font-size: 30px;
  margin: 0;
  padding-top: 10px;
}

.editLabel {
  line-height: $h2-height;
}

.editInput {
  @include right_col($h2-height);
  max-width: $edit-width;
}

.narrow_content {
  @include content();
  width: 400px;
  max-width: 92%;
}

.wide_content {
  @include content();
  max-width: 700px;
}

.n-button__content {
  font-size: 13px;

  .n-icon {
    padding-right: 3px;
  }
}

.n-divider:not(.n-divider--vertical) {
  margin: 10px 0;
}
