$h2-height: 50px;
$h3-height: 30px;
$p-height: 20px;
$edit-width: 250px;

@mixin left_col($lh) {
  display: inline;
  line-height: $lh;
}

@mixin right_col($lh) {
  float: right;
  line-height: $lh
}

@mixin trip_display() {
  padding-top: 20px;
  text-align: left;
}

@mixin content() {
  margin: auto;
  padding-left: 10px;
  padding-right: 10px;
}

@mixin button() {
  margin-top: 5px;
  margin-bottom: 10px;
  vertical-align: middle;
  font-size: 10px;
}

@mixin right_button() {
  @include button;
  float: right;
}

@mixin wide_button() {
  @include button;
  font-size: 12px;
  min-height: 28px;
  padding: 5px;
  width: 100%;
}
